body {
    background-color: black;
    color: white;
    font-weight: bold;

    border: 1px solid #000000;
}

.stage {
    /* 画面全体を使うための指定 */
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    /* 縦方向に4行を配置するための flex 指定 */
    display: flex;
    flex-direction: column;
}

.row {
    /* ヘッダーとフッターを除く高さを、行で等分するための指定 */
    flex: 1 1 auto;
    /* 横に並べるための flex 指定 */
    display: flex;
    flex-direction: row;
}

.row > .item {
    /* 横に3つ、等間隔で並べるための flex 指定 */
    flex: 1 1 auto;
    /* 数字(コンテンツ)をセンタリングするための指定 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* フォントを見やすくするための指定 */
    font-weight: bold;
    font-size: 24px;

    border: 1px solid #000000;
}

.item > .timetext {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;

    border: 1px solid #000000;
}

/* 以下、各要素を色分けするための指定 */
.row-1 > .item:nth-child(1) {
    background: #f99;
}

.row-1 > .item:nth-child(2) {
    background: #9f9;
}

.row-1 > .item:nth-child(3) {
    background: #99f;
}

.row-2 > .item:nth-child(1) {
    background: #c66;
}

.row-2 > .item:nth-child(2) {
    background: #6c6;
}

.row-2 > .item:nth-child(3) {
    background: #66c;
}

.row-3 > .item:nth-child(1) {
    background: #c66;
}

.row-3 > .item:nth-child(2) {
    background: #6c6;
}

.row-3 > .item:nth-child(3) {
    background: #66c;
}

.timetext:nth-child(1) {
    flex-grow: 1;

    text-align: left;
    color: black;

    justify-content: left;
    align-items: left;
}

.timetext:nth-child(2) {
    flex-grow: 4;

    justify-content: center;
    align-items: center;
}
